@model Slide
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Create category</h4>

            <form class="forms-sample" method="post">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Title</label>
                    <input class="form-control" asp-for="Title">
                    <span class="text-danger" asp-validation-for="Title"></span>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Subitle</label>
                    <input class="form-control" asp-for="Subtitle">
                    <span class="text-danger" asp-validation-for="Subtitle"></span>
                </div>
  
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">ImageURL</label>
                    <input class="form-control" asp-for="ImageURL">
                    <span class="text-danger" asp-validation-for="ImageURL"></span>
                </div>
                <button type="submit" class="btn btn-primary me-2">Create</button>
                <a asp-action="index" asp-controller="category" class="btn btn-light">Cancel</a>
            </form>
        </div>
    </div>
</div>
