

@model Slide

<form method="post">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Title</label>
        <input class="form-control" asp-for="Title">
        <span class="text-danger" asp-validation-for="Title"></span>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Description</label>
        <input class="form-control" asp-for="Description">
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Subtitle</label>
        <input class="form-control" asp-for="Subtitle">
        <span class="text-danger" asp-validation-for="Subtitle"></span>
    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">ImageURL</label>
        <input class="form-control" asp-for="ImageURL">
        <span class="text-danger" asp-validation-for="ImageURL"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>